@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.banner {
	@include m.size(100%);
	min-height: 111px;
	aspect-ratio: 1339/250;
	@include m.flex(center, center);
	border-radius: v.$big-radius;
	background-position: 0;
	background-size: cover;
	background-color: rgba($color: grey, $alpha: 0.6);
	background-blend-mode: multiply;

	&--home {
		background-image: url(../../assets/images/home_background.jpg);
	}

	&--about {
		background-image: url(../../assets/images/about_background.jpg);
	}

	&__title {
		@include m.font(v.$secondary-color, clamp(24px, 3vw, 48px), 500);
	}
}

@media (max-width: 768px) {
	.banner {
		@include m.flex(left);
		border-radius: v.$small-radius;
		&__title {
			max-width: 220px;
			margin-left: 16px;
		}
	}
}
