@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.carousel {
	@include m.flex();
	@include m.size(100%, 415px);
	position: relative;
	&__image {
		@include m.size(100%, 100%);
		position: relative;
		border-radius: v.$big-radius;
		opacity: 1;
		object-fit: cover;
	}
	&__button {
		position: relative;
		background: none;
		border: none;
		cursor: pointer;
		padding: 0 15px;
		border-radius: v.$big-radius;
		&__container {
			position: absolute;
			@include m.flex(space-between);
			@include m.size(100%, 100%);
		}
	}
	&__index {
		@include m.position($bottom: 0);
		@include m.size(100%);
		@include m.font(white);
		text-align: center;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.carousel {
		height: 255px;
		&__image {
			border-radius: v.$small-radius;
		}
		&__button {
			&__image {
				@include m.size(20px);
			}
		}
		&__index {
			display: none;
		}
	}
}
