@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.collapse {
	@include m.size(calc(50% - 37px));
	&__container {
		@include m.flex(space-between, $wrap: wrap, $gap: 20px);
		width: 100%;

		&.about {
			justify-content: center;
		}
	}
	&__header {
		@include m.flex(space-between, center);
		@include m.font(v.$secondary-color);
		background-color: v.$primary-color;
		padding: 10px 5px;
		border-radius: v.$small-radius;
		cursor: pointer;
	}
	&__content {
		@include m.position(relative, $bottom: 10px);
		overflow: hidden;
		background-color: v.$secondary-background-color;
		max-height: 0;
		transition: max-height 0.5s ease-in-out;
		border-radius: v.$small-radius;
		z-index: -1;

		&.open {
			max-height: 100%;
			background-color: v.$secondary-background-color;
			transition: max-height 0.5s ease-in-out;
		}
	}
	&__text {
		color: v.$primary-color;
		margin: 30px 20px 20px 20px;
		font-size: 18px;
		line-height: 25px;
	}
	&__arrow {
		rotate: 0deg;
		transition: rotate 0.5s;
		&.open {
			rotate: -180deg;
			transition: rotate 0.5s;
		}
	}
	&--about {
		width: 80%;
		& > * {
			border-radius: v.$phone-radius;
		}
	}
}

@media (max-width: 768px) {
	.collapse {
		width: 100%;
		&__container {
			gap: 20px;
			order: 5;
		}
		&__header {
			font-size: 13px;
			padding: 10px;
			height: 30px;
			border-radius: v.$phone-radius;
		}
		&__text {
			font-size: 12px;
		}
		&__content {
			border-radius: v.$phone-radius;
		}
		&__arrow {
			width: 22px;
		}
		&--about {
			width: 100%;
		}
	}
}
