@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.error {
	@include m.flex(space-between, center, $direction: column);
	@include m.size(100%, 100%);
	& .main {
		justify-content: space-evenly;
		height: 100%;
	}
	&__subtitle {
		font-size: 36px;
		font-weight: 400;
		color: v.$primary-color;
		margin: 0;
	}
	&__link {
		color: v.$primary-color;
		text-decoration: underline;
	}
}

@media (max-width: 768px) {
	.error {
		&__image {
			width: 198px;
		}
		&__subtitle {
			font-size: 18px;
		}
		&__link {
			font-size: 14px;
		}
	}
}
