// * colors *//

$primary-color: #ff6060;
$secondary-color: white;
$primary-background-color: white;
$secondary-background-color: #f6f6f6;
$footer-background-color: black;

//*Border Radius*//

$big-radius: 25px;
$small-radius: 10px;
$phone-radius: 5px;
